In [14]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [15]:
%sql postgresql://allan:Allan20252025@localhost:5432/airbnb

Connecting and switching to connection 'postgresql://allan:***@localhost:5432/airbnb'

In [16]:
%%sql
-- Enable UUID extension
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

-- Drop tables in reverse order to avoid foreign key conflicts
DROP TABLE IF EXISTS message;
DROP TABLE IF EXISTS review;
DROP TABLE IF EXISTS payment;
DROP TABLE IF EXISTS booking;
DROP TABLE IF EXISTS property;
DROP TABLE IF EXISTS users;
DROP TABLE IF EXISTS "user";

-- Drop existing indexes explicitly to avoid conflicts
DROP INDEX IF EXISTS idx_user_email;
DROP INDEX IF EXISTS idx_property_property_id;
DROP INDEX IF EXISTS idx_booking_property_id;
DROP INDEX IF EXISTS idx_booking_booking_id;
DROP INDEX IF EXISTS idx_payment_booking_id;
DROP INDEX IF EXISTS idx_review_property_id;

-- Create User Table
CREATE TABLE "user" (
    user_id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    password_hash VARCHAR(255) NOT NULL,
    phone_number VARCHAR(20),
    role VARCHAR(20) NOT NULL CHECK (role IN ('guest', 'host', 'admin')),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
CREATE INDEX IF NOT EXISTS idx_user_email ON "user"(email);

-- Create Property Table
CREATE TABLE property (
    property_id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    host_id UUID NOT NULL,
    name VARCHAR(100) NOT NULL,
    description TEXT NOT NULL,
    location VARCHAR(255) NOT NULL,
    pricepernight DECIMAL(10, 2) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_host FOREIGN KEY (host_id) REFERENCES "user"(user_id)
);
CREATE INDEX IF NOT EXISTS idx_property_property_id ON property(property_id);

-- Create Booking Table
CREATE TABLE booking (
    booking_id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    property_id UUID NOT NULL,
    user_id UUID NOT NULL,
    start_date DATE NOT NULL,
    end_date DATE NOT NULL,
    total_price DECIMAL(10, 2) NOT NULL,
    status VARCHAR(20) NOT NULL CHECK (status IN ('pending', 'confirmed', 'canceled')),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_property FOREIGN KEY (property_id) REFERENCES property(property_id),
    CONSTRAINT fk_user FOREIGN KEY (user_id) REFERENCES "user"(user_id)
);
CREATE INDEX IF NOT EXISTS idx_booking_property_id ON booking(property_id);
CREATE INDEX IF NOT EXISTS idx_booking_booking_id ON booking(booking_id);

-- Create Payment Table
CREATE TABLE payment (
    payment_id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    booking_id UUID NOT NULL,
    amount DECIMAL(10, 2) NOT NULL,
    payment_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    payment_method VARCHAR(20) NOT NULL CHECK (payment_method IN ('credit_card', 'paypal', 'stripe')),
    CONSTRAINT fk_booking FOREIGN KEY (booking_id) REFERENCES booking(booking_id)
);
CREATE INDEX IF NOT EXISTS idx_payment_booking_id ON payment(booking_id);

-- Create Review Table
CREATE TABLE review (
    review_id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    property_id UUID NOT NULL,
    user_id UUID NOT NULL,
    rating INTEGER NOT NULL CHECK (rating >= 1 AND rating <= 5),
    comment TEXT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_property FOREIGN KEY (property_id) REFERENCES property(property_id),
    CONSTRAINT fk_user FOREIGN KEY (user_id) REFERENCES "user"(user_id)
);
CREATE INDEX IF NOT EXISTS idx_review_property_id ON review(property_id);

-- Create Message Table
CREATE TABLE message (
    message_id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    sender_id UUID NOT NULL,
    recipient_id UUID NOT NULL,
    message_body TEXT NOT NULL,
    sent_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_sender FOREIGN KEY (sender_id) REFERENCES "user"(user_id),
    CONSTRAINT fk_recipient FOREIGN KEY (recipient_id) REFERENCES "user"(user_id)
);

-- Create function and trigger for updated_at in property table
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER update_property_updated_at
    BEFORE UPDATE ON property
    FOR EACH ROW
    EXECUTE FUNCTION update_updated_at_column();

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

++
||
++
++

In [17]:
%%sql 
-- Insert Users (25 users: 10 hosts, 14 guests, 1 admin)
INSERT INTO "user" (first_name, last_name, email, password_hash, phone_number, role)
VALUES
    ('Wanjiku', 'Muthoni', 'wanjiku.muthoni@example.com', 'hash101', '+254711123456', 'host'),
    ('Kamau', 'Njoroge', 'kamau.njoroge@example.com', 'hash102', '+254711234567', 'host'),
    ('Akinyi', 'Otieno', 'akinyi.otieno@example.com', 'hash103', '+254711345678', 'guest'),
    ('Kipchumba', 'Koech', 'kipchumba.koech@example.com', 'hash104', '+254711456789', 'guest'),
    ('Njeri', 'Wambui', 'njeri.wambui@example.com', 'hash105', '+254711567890', 'host'),
    ('Ochieng', 'Odhiambo', 'ochieng.odhiambo@example.com', 'hash106', '+254711678901', 'guest'),
    ('Wairimu', 'Kariuki', 'wairimu.kariuki@example.com', 'hash107', '+254711789012', 'guest'),
    ('Kiptoo', 'Langat', 'kiptoo.langat@example.com', 'hash108', '+254711890123', 'host'),
    ('Adhiambo', 'Awuor', 'adhiambo.awuor@example.com', 'hash109', '+254711901234', 'guest'),
    ('Muriithi', 'Maina', 'muriithi.maina@example.com', 'hash110', '+254712012345', 'host'),
    ('Chebet', 'Rotich', 'chebet.rotich@example.com', 'hash111', '+254712123456', 'guest'),
    ('Mwangi', 'Kimani', 'mwangi.kimani@example.com', 'hash112', '+254712234567', 'host'),
    ('Auma', 'Onyango', 'auma.onyango@example.com', 'hash113', '+254712345678', 'guest'),
    ('Kibet', 'Cheruiyot', 'kibet.cheruiyot@example.com', 'hash114', '+254712456789', 'guest'),
    ('Wanjiru', 'Gichuru', 'wanjiru.gichuru@example.com', 'hash115', '+254712567890', 'host'),
    ('Okoth', 'Ouma', 'okoth.ouma@example.com', 'hash116', '+254712678901', 'guest'),
    ('Nyambura', 'Mbugua', 'nyambura.mbugua@example.com', 'hash117', '+254712789012', 'guest'),
    ('Kiprono', 'Ngetich', 'kiprono.ngetich@example.com', 'hash118', '+254712890123', 'host'),
    ('Anyango', 'Atieno', 'anyango.atieno@example.com', 'hash119', '+254712901234', 'guest'),
    ('Githinji', 'Wachira', 'githinji.wachira@example.com', 'hash120', '+254713012345', 'host'),
    ('Cherop', 'Kiptai', 'cherop.kiptai@example.com', 'hash121', '+254713123456', 'guest'),
    ('Mwaura', 'Ndungu', 'mwaura.ndungu@example.com', 'hash122', '+254713234567', 'host'),
    ('Atieno', 'Adhiambo', 'atieno.adhiambo@example.com', 'hash123', '+254713345678', 'guest'),
    ('Kipkurui', 'Sang', 'kipkurui.sang@example.com', 'hash124', '+254713456789', 'guest'),
    ('Admin', 'Mtawala', 'admin.mtawala@example.com', 'hash999', NULL, 'admin');

-- Insert Properties (25 properties owned by 10 hosts)
INSERT INTO property (host_id, name, description, location, pricepernight)
VALUES
    ((SELECT user_id FROM "user" WHERE email = 'wanjiku.muthoni@example.com'), 'Lakeside Haven', 'Cozy retreat by the lake', 'Naivasha, Kenya', 100.00),
    ((SELECT user_id FROM "user" WHERE email = 'wanjiku.muthoni@example.com'), 'Nairobi Nest', 'Modern city apartment', 'Nairobi, Kenya', 120.00),
    ((SELECT user_id FROM "user" WHERE email = 'kamau.njoroge@example.com'), 'Ocean Breeze Villa', 'Luxurious beachfront villa', 'Diani, Kenya', 200.00),
    ((SELECT user_id FROM "user" WHERE email = 'kamau.njoroge@example.com'), 'Savanna Lodge', 'Wilderness lodge', 'Maasai Mara, Kenya', 250.00),
    ((SELECT user_id FROM "user" WHERE email = 'njeri.wambui@example.com'), 'Urban Loft', 'Stylish city loft', 'Mombasa, Kenya', 130.00),
    ((SELECT user_id FROM "user" WHERE email = 'njeri.wambui@example.com'), 'Hilltop Cabin', 'Rustic mountain cabin', 'Aberdare, Kenya', 110.00),
    ((SELECT user_id FROM "user" WHERE email = 'kiptoo.langat@example.com'), 'Coastal Cottage', 'Charming seaside cottage', 'Lamu, Kenya', 90.00),
    ((SELECT user_id FROM "user" WHERE email = 'kiptoo.langat@example.com'), 'City Studio', 'Compact downtown studio', 'Kisumu, Kenya', 80.00),
    ((SELECT user_id FROM "user" WHERE email = 'muriithi.maina@example.com'), 'Safari Retreat', 'Luxury tented camp', 'Tsavo, Kenya', 180.00),
    ((SELECT user_id FROM "user" WHERE email = 'muriithi.maina@example.com'), 'Garden Bungalow', 'Bungalow with lush gardens', 'Karen, Kenya', 140.00),
    ((SELECT user_id FROM "user" WHERE email = 'mwangi.kimani@example.com'), 'Riverside Villa', 'Villa by the river', 'Nanyuki, Kenya', 150.00),
    ((SELECT user_id FROM "user" WHERE email = 'mwangi.kimani@example.com'), 'Beach Shack', 'Casual beachside shack', 'Watamu, Kenya', 95.00),
    ((SELECT user_id FROM "user" WHERE email = 'wanjiru.gichuru@example.com'), 'Skyline Penthouse', 'Luxury city penthouse', 'Nairobi, Kenya', 220.00),
    ((SELECT user_id FROM "user" WHERE email = 'wanjiru.gichuru@example.com'), 'Forest Hut', 'Secluded forest hut', 'Nyeri, Kenya', 85.00),
    ((SELECT user_id FROM "user" WHERE email = 'kiprono.ngetich@example.com'), 'Lakeview House', 'Spacious lakeside home', 'Nakuru, Kenya', 160.00),
    ((SELECT user_id FROM "user" WHERE email = 'kiprono.ngetich@example.com'), 'Urban Flat', 'Trendy city flat', 'Eldoret, Kenya', 100.00),
    ((SELECT user_id FROM "user" WHERE email = 'githinji.wachira@example.com'), 'Clifftop Retreat', 'Scenic clifftop villa', 'Malindi, Kenya', 170.00),
    ((SELECT user_id FROM "user" WHERE email = 'githinji.wachira@example.com'), 'Farmhouse', 'Peaceful rural farmhouse', 'Limuru, Kenya', 105.00),
    ((SELECT user_id FROM "user" WHERE email = 'mwaura.ndungu@example.com'), 'Treehouse', 'Unique forest treehouse', 'Karura, Kenya', 125.00),
    ((SELECT user_id FROM "user" WHERE email = 'mwaura.ndungu@example.com'), 'City Condo', 'Modern city condominium', 'Nairobi, Kenya', 135.00),
    ((SELECT user_id FROM "user" WHERE email = 'wanjiku.muthoni@example.com'), 'Desert Camp', 'Authentic desert experience', 'Samburu, Kenya', 190.00),
    ((SELECT user_id FROM "user" WHERE email = 'kamau.njoroge@example.com'), 'Harbor View', 'Apartment with harbor views', 'Mombasa, Kenya', 115.00),
    ((SELECT user_id FROM "user" WHERE email = 'njeri.wambui@example.com'), 'Valley Cottage', 'Cozy valley retreat', 'Rift Valley, Kenya', 90.00),
    ((SELECT user_id FROM "user" WHERE email = 'kiptoo.langat@example.com'), 'Highland Lodge', 'Lodge in the highlands', 'Kericho, Kenya', 145.00),
    ((SELECT user_id FROM "user" WHERE email = 'muriithi.maina@example.com'), 'Island Hideaway', 'Private island cottage', 'Lamu, Kenya', 210.00);

-- Insert Bookings (25 bookings by 14 guests)
INSERT INTO booking (property_id, user_id, start_date, end_date, total_price, status)
VALUES
    ((SELECT property_id FROM property WHERE name = 'Lakeside Haven'), (SELECT user_id FROM "user" WHERE email = 'akinyi.otieno@example.com'), '2025-06-01', '2025-06-03', 200.00, 'confirmed'),
    ((SELECT property_id FROM property WHERE name = 'Nairobi Nest'), (SELECT user_id FROM "user" WHERE email = 'akinyi.otieno@example.com'), '2025-06-10', '2025-06-12', 240.00, 'pending'),
    ((SELECT property_id FROM property WHERE name = 'Ocean Breeze Villa'), (SELECT user_id FROM "user" WHERE email = 'kipchumba.koech@example.com'), '2025-07-01', '2025-07-05', 800.00, 'confirmed'),
    ((SELECT property_id FROM property WHERE name = 'Savanna Lodge'), (SELECT user_id FROM "user" WHERE email = 'kipchumba.koech@example.com'), '2025-07-10', '2025-07-12', 500.00, 'canceled'),
    ((SELECT property_id FROM property WHERE name = 'Urban Loft'), (SELECT user_id FROM "user" WHERE email = 'ochieng.odhiambo@example.com'), '2025-08-01', '2025-08-03', 260.00, 'confirmed'),
    ((SELECT property_id FROM property WHERE name = 'Hilltop Cabin'), (SELECT user_id FROM "user" WHERE email = 'ochieng.odhiambo@example.com'), '2025-08-10', '2025-08-12', 220.00, 'pending'),
    ((SELECT property_id FROM property WHERE name = 'Coastal Cottage'), (SELECT user_id FROM "user" WHERE email = 'wairimu.kariuki@example.com'), '2025-09-01', '2025-09-04', 270.00, 'confirmed'),
    ((SELECT property_id FROM property WHERE name = 'City Studio'), (SELECT user_id FROM "user" WHERE email = 'wairimu.kariuki@example.com'), '2025-09-10', '2025-09-12', 160.00, 'canceled'),
    ((SELECT property_id FROM property WHERE name = 'Safari Retreat'), (SELECT user_id FROM "user" WHERE email = 'adhiambo.awuor@example.com'), '2025-10-01', '2025-10-03', 360.00, 'confirmed'),
    ((SELECT property_id FROM property WHERE name = 'Garden Bungalow'), (SELECT user_id FROM "user" WHERE email = 'adhiambo.awuor@example.com'), '2025-10-10', '2025-10-12', 280.00, 'pending'),
    ((SELECT property_id FROM property WHERE name = 'Riverside Villa'), (SELECT user_id FROM "user" WHERE email = 'chebet.rotich@example.com'), '2025-11-01', '2025-11-03', 300.00, 'confirmed'),
    ((SELECT property_id FROM property WHERE name = 'Beach Shack'), (SELECT user_id FROM "user" WHERE email = 'chebet.rotich@example.com'), '2025-11-10', '2025-11-12', 190.00, 'canceled'),
    ((SELECT property_id FROM property WHERE name = 'Skyline Penthouse'), (SELECT user_id FROM "user" WHERE email = 'auma.onyango@example.com'), '2025-12-01', '2025-12-04', 660.00, 'confirmed'),
    ((SELECT property_id FROM property WHERE name = 'Forest Hut'), (SELECT user_id FROM "user" WHERE email = 'auma.onyango@example.com'), '2025-12-10', '2025-12-12', 170.00, 'pending'),
    ((SELECT property_id FROM property WHERE name = 'Lakeview House'), (SELECT user_id FROM "user" WHERE email = 'kibet.cheruiyot@example.com'), '2026-01-01', '2026-01-03', 320.00, 'confirmed'),
    ((SELECT property_id FROM property WHERE name = 'Urban Flat'), (SELECT user_id FROM "user" WHERE email = 'kibet.cheruiyot@example.com'), '2026-01-10', '2026-01-12', 200.00, 'canceled'),
    ((SELECT property_id FROM property WHERE name = 'Clifftop Retreat'), (SELECT user_id FROM "user" WHERE email = 'okoth.ouma@example.com'), '2026-02-01', '2026-02-03', 340.00, 'confirmed'),
    ((SELECT property_id FROM property WHERE name = 'Farmhouse'), (SELECT user_id FROM "user" WHERE email = 'okoth.ouma@example.com'), '2026-02-10', '2026-02-12', 210.00, 'pending'),
    ((SELECT property_id FROM property WHERE name = 'Treehouse'), (SELECT user_id FROM "user" WHERE email = 'nyambura.mbugua@example.com'), '2026-03-01', '2026-03-04', 375.00, 'confirmed'),
    ((SELECT property_id FROM property WHERE name = 'City Condo'), (SELECT user_id FROM "user" WHERE email = 'nyambura.mbugua@example.com'), '2026-03-10', '2026-03-12', 270.00, 'canceled'),
    ((SELECT property_id FROM property WHERE name = 'Desert Camp'), (SELECT user_id FROM "user" WHERE email = 'anyango.atieno@example.com'), '2026-04-01', '2026-04-03', 380.00, 'confirmed'),
    ((SELECT property_id FROM property WHERE name = 'Harbor View'), (SELECT user_id FROM "user" WHERE email = 'anyango.atieno@example.com'), '2026-04-10', '2026-04-12', 230.00, 'pending'),
    ((SELECT property_id FROM property WHERE name = 'Valley Cottage'), (SELECT user_id FROM "user" WHERE email = 'cherop.kiptai@example.com'), '2026-05-01', '2026-05-03', 180.00, 'confirmed'),
    ((SELECT property_id FROM property WHERE name = 'Highland Lodge'), (SELECT user_id FROM "user" WHERE email = 'atieno.adhiambo@example.com'), '2026-05-10', '2026-05-12', 290.00, 'pending'),
    ((SELECT property_id FROM property WHERE name = 'Island Hideaway'), (SELECT user_id FROM "user" WHERE email = 'kipkurui.sang@example.com'), '2026-06-01', '2026-06-03', 420.00, 'confirmed');

-- Insert Payments (25 payments for confirmed and pending bookings)
INSERT INTO payment (booking_id, amount, payment_date, payment_method)
VALUES
    ((SELECT booking_id FROM booking WHERE start_date = '2025-06-01'), 200.00, '2025-05-30 10:00:00', 'credit_card'),
    ((SELECT booking_id FROM booking WHERE start_date = '2025-06-10'), 120.00, '2025-06-08 12:00:00', 'paypal'),
    ((SELECT booking_id FROM booking WHERE start_date = '2025-07-01'), 800.00, '2025-06-28 14:00:00', 'stripe'),
    ((SELECT booking_id FROM booking WHERE start_date = '2025-07-10'), 250.00, '2025-07-08 09:00:00', 'credit_card'),
    ((SELECT booking_id FROM booking WHERE start_date = '2025-08-01'), 260.00, '2025-07-30 11:00:00', 'paypal'),
    ((SELECT booking_id FROM booking WHERE start_date = '2025-08-10'), 110.00, '2025-08-08 15:00:00', 'stripe'),
    ((SELECT booking_id FROM booking WHERE start_date = '2025-09-01'), 270.00, '2025-08-29 10:00:00', 'credit_card'),
    ((SELECT booking_id FROM booking WHERE start_date = '2025-09-10'), 80.00, '2025-09-08 12:00:00', 'paypal'),
    ((SELECT booking_id FROM booking WHERE start_date = '2025-10-01'), 360.00, '2025-09-28 14:00:00', 'stripe'),
    ((SELECT booking_id FROM booking WHERE start_date = '2025-10-10'), 140.00, '2025-10-08 09:00:00', 'credit_card'),
    ((SELECT booking_id FROM booking WHERE start_date = '2025-11-01'), 300.00, '2025-10-30 11:00:00', 'paypal'),
    ((SELECT booking_id FROM booking WHERE start_date = '2025-11-10'), 95.00, '2025-11-08 15:00:00', 'stripe'),
    ((SELECT booking_id FROM booking WHERE start_date = '2025-12-01'), 660.00, '2025-11-28 10:00:00', 'credit_card'),
    ((SELECT booking_id FROM booking WHERE start_date = '2025-12-10'), 85.00, '2025-12-08 12:00:00', 'paypal'),
    ((SELECT booking_id FROM booking WHERE start_date = '2026-01-01'), 320.00, '2025-12-30 14:00:00', 'stripe'),
    ((SELECT booking_id FROM booking WHERE start_date = '2026-01-10'), 100.00, '2026-01-08 09:00:00', 'credit_card'),
    ((SELECT booking_id FROM booking WHERE start_date = '2026-02-01'), 340.00, '2026-01-30 11:00:00', 'paypal'),
    ((SELECT booking_id FROM booking WHERE start_date = '2026-02-10'), 105.00, '2026-02-08 15:00:00', 'stripe'),
    ((SELECT booking_id FROM booking WHERE start_date = '2026-03-01'), 375.00, '2026-02-28 10:00:00', 'credit_card'),
    ((SELECT booking_id FROM booking WHERE start_date = '2026-03-10'), 135.00, '2026-03-08 12:00:00', 'paypal'),
    ((SELECT booking_id FROM booking WHERE start_date = '2026-04-01'), 380.00, '2026-03-30 14:00:00', 'stripe'),
    ((SELECT booking_id FROM booking WHERE start_date = '2026-04-10'), 115.00, '2026-04-08 09:00:00', 'credit_card'),
    ((SELECT booking_id FROM booking WHERE start_date = '2026-05-01'), 180.00, '2026-04-30 11:00:00', 'paypal'),
    ((SELECT booking_id FROM booking WHERE start_date = '2026-05-10'), 145.00, '2026-05-08 15:00:00', 'stripe'),
    ((SELECT booking_id FROM booking WHERE start_date = '2026-06-01'), 420.00, '2026-05-30 10:00:00', 'credit_card');

-- Insert Reviews (25 reviews for properties by 14 guests)
INSERT INTO review (property_id, user_id, rating, comment, created_at)
VALUES
    ((SELECT property_id FROM property WHERE name = 'Lakeside Haven'), (SELECT user_id FROM "user" WHERE email = 'akinyi.otieno@example.com'), 4, 'Beautiful lake views', '2025-06-04 08:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Nairobi Nest'), (SELECT user_id FROM "user" WHERE email = 'akinyi.otieno@example.com'), 3, 'Central but noisy', '2025-06-13 09:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Ocean Breeze Villa'), (SELECT user_id FROM "user" WHERE email = 'kipchumba.koech@example.com'), 5, 'Perfect beach getaway', '2025-07-06 10:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Savanna Lodge'), (SELECT user_id FROM "user" WHERE email = 'kipchumba.koech@example.com'), 4, 'Great safari experience', '2025-07-13 11:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Urban Loft'), (SELECT user_id FROM "user" WHERE email = 'ochieng.odhiambo@example.com'), 3, 'Good location, small space', '2025-08-04 12:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Hilltop Cabin'), (SELECT user_id FROM "user" WHERE email = 'ochieng.odhiambo@example.com'), 4, 'Peaceful retreat', '2025-08-13 13:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Coastal Cottage'), (SELECT user_id FROM "user" WHERE email = 'wairimu.kariuki@example.com'), 5, 'Charming and cozy', '2025-09-05 14:00:00'),
    ((SELECT property_id FROM property WHERE name = 'City Studio'), (SELECT user_id FROM "user" WHERE email = 'wairimu.kariuki@example.com'), 3, 'Basic but functional', '2025-09-13 15:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Safari Retreat'), (SELECT user_id FROM "user" WHERE email = 'adhiambo.awuor@example.com'), 4, 'Amazing wildlife views', '2025-10-04 08:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Garden Bungalow'), (SELECT user_id FROM "user" WHERE email = 'adhiambo.awuor@example.com'), 5, 'Lovely gardens', '2025-10-13 09:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Riverside Villa'), (SELECT user_id FROM "user" WHERE email = 'chebet.rotich@example.com'), 4, 'Relaxing by the river', '2025-11-04 10:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Beach Shack'), (SELECT user_id FROM "user" WHERE email = 'chebet.rotich@example.com'), 3, 'Fun but basic', '2025-11-13 11:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Skyline Penthouse'), (SELECT user_id FROM "user" WHERE email = 'auma.onyango@example.com'), 5, 'Luxury at its best', '2025-12-05 12:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Forest Hut'), (SELECT user_id FROM "user" WHERE email = 'auma.onyango@example.com'), 4, 'Secluded and serene', '2025-12-13 13:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Lakeview House'), (SELECT user_id FROM "user" WHERE email = 'kibet.cheruiyot@example.com'), 4, 'Spacious and scenic', '2026-01-04 14:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Urban Flat'), (SELECT user_id FROM "user" WHERE email = 'kibet.cheruiyot@example.com'), 3, 'Good for short stay', '2026-01-13 15:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Clifftop Retreat'), (SELECT user_id FROM "user" WHERE email = 'okoth.ouma@example.com'), 5, 'Stunning views', '2026-02-04 08:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Farmhouse'), (SELECT user_id FROM "user" WHERE email = 'okoth.ouma@example.com'), 4, 'Quiet and rustic', '2026-02-13 09:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Treehouse'), (SELECT user_id FROM "user" WHERE email = 'nyambura.mbugua@example.com'), 4, 'Unique experience', '2026-03-05 10:00:00'),
    ((SELECT property_id FROM property WHERE name = 'City Condo'), (SELECT user_id FROM "user" WHERE email = 'nyambura.mbugua@example.com'), 3, 'Modern but crowded area', '2026-03-13 11:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Desert Camp'), (SELECT user_id FROM "user" WHERE email = 'anyango.atieno@example.com'), 5, 'Authentic adventure', '2026-04-04 12:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Harbor View'), (SELECT user_id FROM "user" WHERE email = 'anyango.atieno@example.com'), 4, 'Nice harbor views', '2026-04-13 13:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Valley Cottage'), (SELECT user_id FROM "user" WHERE email = 'cherop.kiptai@example.com'), 4, 'Cozy and quiet', '2026-05-04 14:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Highland Lodge'), (SELECT user_id FROM "user" WHERE email = 'atieno.adhiambo@example.com'), 5, 'Perfect highland stay', '2026-05-13 15:00:00'),
    ((SELECT property_id FROM property WHERE name = 'Island Hideaway'), (SELECT user_id FROM "user" WHERE email = 'kipkurui.sang@example.com'), 4, 'Private and relaxing', '2026-06-04 08:00:00');

-- Insert Messages (25 messages between guests and hosts)
INSERT INTO message (sender_id, recipient_id, message_body, sent_at)
VALUES
    ((SELECT user_id FROM "user" WHERE email = 'akinyi.otieno@example.com'), (SELECT user_id FROM "user" WHERE email = 'wanjiku.muthoni@example.com'), 'Is Lakeside Haven available?', '2025-05-20 14:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'wanjiku.muthoni@example.com'), (SELECT user_id FROM "user" WHERE email = 'akinyi.otieno@example.com'), 'Yes, book soon!', '2025-05-20 15:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'kipchumba.koech@example.com'), (SELECT user_id FROM "user" WHERE email = 'kamau.njoroge@example.com'), 'Early check-in for Ocean Breeze?', '2025-06-25 10:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'kamau.njoroge@example.com'), (SELECT user_id FROM "user" WHERE email = 'kipchumba.koech@example.com'), 'Early check-in possible', '2025-06-25 11:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'ochieng.odhiambo@example.com'), (SELECT user_id FROM "user" WHERE email = 'njeri.wambui@example.com'), 'Urban Loft Wi-Fi speed?', '2025-07-20 12:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'njeri.wambui@example.com'), (SELECT user_id FROM "user" WHERE email = 'ochieng.odhiambo@example.com'), 'High-speed Wi-Fi included', '2025-07-20 13:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'wairimu.kariuki@example.com'), (SELECT user_id FROM "user" WHERE email = 'kiptoo.langat@example.com'), 'Coastal Cottage parking?', '2025-08-25 14:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'kiptoo.langat@example.com'), (SELECT user_id FROM "user" WHERE email = 'wairimu.kariuki@example.com'), 'Free parking available', '2025-08-25 15:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'adhiambo.awuor@example.com'), (SELECT user_id FROM "user" WHERE email = 'muriithi.maina@example.com'), 'Safari Retreat amenities?', '2025-09-20 09:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'muriithi.maina@example.com'), (SELECT user_id FROM "user" WHERE email = 'adhiambo.awuor@example.com'), 'Includes meals, tours', '2025-09-20 10:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'chebet.rotich@example.com'), (SELECT user_id FROM "user" WHERE email = 'mwangi.kimani@example.com'), 'Riverside Villa pet policy?', '2025-10-25 11:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'mwangi.kimani@example.com'), (SELECT user_id FROM "user" WHERE email = 'chebet.rotich@example.com'), 'Pets allowed with fee', '2025-10-25 12:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'auma.onyango@example.com'), (SELECT user_id FROM "user" WHERE email = 'wanjiru.gichuru@example.com'), 'Skyline Penthouse check-in?', '2025-11-20 13:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'wanjiru.gichuru@example.com'), (SELECT user_id FROM "user" WHERE email = 'auma.onyango@example.com'), 'Check-in at 2 PM', '2025-11-20 14:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'kibet.cheruiyot@example.com'), (SELECT user_id FROM "user" WHERE email = 'kiprono.ngetich@example.com'), 'Lakeview House availability?', '2025-12-25 15:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'kiprono.ngetich@example.com'), (SELECT user_id FROM "user" WHERE email = 'kibet.cheruiyot@example.com'), 'Available, please book', '2025-12-25 16:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'okoth.ouma@example.com'), (SELECT user_id FROM "user" WHERE email = 'githinji.wachira@example.com'), 'Clifftop Retreat views?', '2026-01-20 09:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'githinji.wachira@example.com'), (SELECT user_id FROM "user" WHERE email = 'okoth.ouma@example.com'), 'Stunning ocean views', '2026-01-20 10:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'nyambura.mbugua@example.com'), (SELECT user_id FROM "user" WHERE email = 'mwaura.ndungu@example.com'), 'Treehouse safety features?', '2026-02-25 11:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'mwaura.ndungu@example.com'), (SELECT user_id FROM "user" WHERE email = 'nyambura.mbugua@example.com'), 'Fully secure, railings', '2026-02-25 12:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'anyango.atieno@example.com'), (SELECT user_id FROM "user" WHERE email = 'wanjiku.muthoni@example.com'), 'Desert Camp activities?', '2026-03-20 13:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'wanjiku.muthoni@example.com'), (SELECT user_id FROM "user" WHERE email = 'anyango.atieno@example.com'), 'Camel rides, star gazing', '2026-03-20 14:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'cherop.kiptai@example.com'), (SELECT user_id FROM "user" WHERE email = 'njeri.wambui@example.com'), 'Valley Cottage heating?', '2026-04-25 15:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'njeri.wambui@example.com'), (SELECT user_id FROM "user" WHERE email = 'cherop.kiptai@example.com'), 'Heaters provided', '2026-04-25 16:00:00'),
    ((SELECT user_id FROM "user" WHERE email = 'atieno.adhiambo@example.com'), (SELECT user_id FROM "user" WHERE email = 'kiptoo.langat@example.com'), 'Highland Lodge check-out?', '2026-05-05 09:00:00');

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

25 rows affected.

25 rows affected.

25 rows affected.

25 rows affected.

25 rows affected.

25 rows affected.

++
||
++
++

In [18]:
%%sql
select * from "user"

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

25 rows affected.

+--------------------------------------+------------+-----------+------------------------------+---------------+---------------+-------+----------------------------+
|               user_id                | first_name | last_name |            email             | password_hash |  phone_number |  role |         created_at         |
+--------------------------------------+------------+-----------+------------------------------+---------------+---------------+-------+----------------------------+
| 40d7fe1f-eb8f-4196-a729-7fc8279b4f9d |  Wanjiku   |  Muthoni  | wanjiku.muthoni@example.com  |    hash101    | +254711123456 |  host | 2025-05-08 09:31:24.576355 |
| d7b86c5f-5872-4481-abd6-7ac2b943629e |   Kamau    |  Njoroge  |  kamau.njoroge@example.com   |    hash102    | +254711234567 |  host | 2025-05-08 09:31:24.576355 |
| 138ac57c-5eeb-49eb-90df-25007216b3c8 |   Akinyi   |   Otieno  |  akinyi.otieno@example.com   |    hash103    | +254711345678 | guest | 2025-05-08 09:31:24.576355 |
| f033b15a-4b53-48a2-b00c-47506965b178 | Kipchumba  |   Koech   | kipchumba.koech@example.com  |    hash104    | +254711456789 | guest | 2025-05-08 09:31:24.576355 |
| fcdfdf7b-8113-4fce-8b01-1352c51bc2d0 |   Njeri    |   Wambui  |   njeri.wambui@example.com   |    hash105    | +254711567890 |  host | 2025-05-08 09:31:24.576355 |
| 37e3f079-90dd-47de-ab71-d9efc5f88bc7 |  Ochieng   |  Odhiambo | ochieng.odhiambo@example.com |    hash106    | +254711678901 | guest | 2025-05-08 09:31:24.576355 |
| 6d22978c-f3bd-4b5a-bd78-055e55655bcc |  Wairimu   |  Kariuki  | wairimu.kariuki@example.com  |    hash107    | +254711789012 | guest | 2025-05-08 09:31:24.576355 |
| f13abe5d-ed17-4f0b-8205-a5ee6d39e4b5 |   Kiptoo   |   Langat  |  kiptoo.langat@example.com   |    hash108    | +254711890123 |  host | 2025-05-08 09:31:24.576355 |
| 69f77d4d-4534-40aa-9170-7c521e0c7667 |  Adhiambo  |   Awuor   |  adhiambo.awuor@example.com  |    hash109    | +254711901234 | guest | 2025-05-08 09:31:24.576355 |
| d7982005-939a-49ba-94d8-71f744aba5ea |  Muriithi  |   Maina   |  muriithi.maina@example.com  |    hash110    | +254712012345 |  host | 2025-05-08 09:31:24.576355 |
+--------------------------------------+------------+-----------+------------------------------+---------------+---------------+-------+----------------------------+
Truncated to displaylimit of 10.