In [2]:
%load_ext sql

In [3]:
%sql postgresql://allan:Allan20252025@localhost:5432/airbnb

Connecting to 'postgresql://allan:***@localhost:5432/airbnb'

In [4]:
%%sql 
-- Write a query to 
--find all properties where the average rating is greater than 4.0 using a subquery

SELECT * 
    FROM property as pt
    WHERE pt.property_id IN (
      SELECT rv.property_id
      FROM review as rv
      GROUP BY rv.property_id
    HAVING AVG(rv.rating) > 4
    );

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

7 rows affected.

+--------------------------------------+--------------------------------------+--------------------+-----------------------------+----------------+---------------+----------------------------+----------------------------+
|             property_id              |               host_id                |        name        |         description         |    location    | pricepernight |         created_at         |         updated_at         |
+--------------------------------------+--------------------------------------+--------------------+-----------------------------+----------------+---------------+----------------------------+----------------------------+
| 16b825e2-b945-4b70-81c4-d8e5c704fd3b | a4da73b8-48f2-40bb-9e98-6ec707bf91fb | Ocean Breeze Villa |  Luxurious beachfront villa |  Diani, Kenya  |     200.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
| 4ff350d5-8891-4f69-8abf-8dd07d369b43 | ad82232f-2448-4b3f-973c-f97220864ecb |  Coastal Cottage   |   Charming seaside cottage  |  Lamu, Kenya   |     90.00     | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
| 521408be-5a0f-438c-8dc8-f41d8227a4aa | 522f7349-d2c4-4ad4-8a56-d9462b2ab418 |  Garden Bungalow   |  Bungalow with lush gardens |  Karen, Kenya  |     140.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
| c92d18ce-e9cd-41a8-bcba-4653f35f474c | a25863f4-649c-41f4-9e6f-92cac7e37974 | Skyline Penthouse  |    Luxury city penthouse    | Nairobi, Kenya |     220.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
| c976d0fd-4b3c-4632-b72a-a9c35b3c0acc | 51626501-4e62-40ea-8e94-496abf8e750b |  Clifftop Retreat  |    Scenic clifftop villa    | Malindi, Kenya |     170.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
| 66362d42-0c53-4d0b-941f-a82c7d69b840 | ee4f3448-5ae9-4834-a40b-f3924f419573 |    Desert Camp     | Authentic desert experience | Samburu, Kenya |     190.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
| e1852b70-7697-45af-97a2-af2866c1cb9d | ad82232f-2448-4b3f-973c-f97220864ecb |   Highland Lodge   |    Lodge in the highlands   | Kericho, Kenya |     145.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
+--------------------------------------+--------------------------------------+--------------------+-----------------------------+----------------+---------------+----------------------------+----------------------------+

In [5]:
%%sql 
-- Write a correlated subquery to find users who have made more than 3 bookings.
SELECT * FROM "user" as u  
WHERE ( 
    SELECT COUNT(*)
    FROM booking as b
    where b.user_id = u.user_id
    ) > 3;

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

+---------+------------+-----------+-------+---------------+--------------+------+------------+
| user_id | first_name | last_name | email | password_hash | phone_number | role | created_at |
+---------+------------+-----------+-------+---------------+--------------+------+------------+
+---------+------------+-----------+-------+---------------+--------------+------+------------+

In [6]:
%%sql
-- Write a query to find the total number of bookings made by each user, 
--using the COUNT function and GROUP BY clause.

SELECT
    u.user_id,
    COUNT(b.booking_id) as total_booking
FROM booking as b
JOIN "user" as u ON u.user_id = b.user_id
GROUP BY u.user_id
ORDER BY total_booking DESC;

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

14 rows affected.

+--------------------------------------+---------------+
|               user_id                | total_booking |
+--------------------------------------+---------------+
| ba5d742f-f681-4782-a51d-4157ade07802 |       2       |
| add2f1f3-7bb5-4ad9-97ce-979d75ced570 |       2       |
| 7d213371-9496-4ab9-8604-3c3b98fec2bd |       2       |
| bfc2aefc-ee24-43b8-b06c-34e7376dd6f7 |       2       |
| 65224742-72ab-4649-9a03-4b4d9674d9ae |       2       |
| 790dd463-21e6-48ef-bb67-5b5057356527 |       2       |
| 2ea34b0a-21c8-4c65-b014-bf834f96335b |       2       |
| 6810b6b9-f7f1-4aa4-ae95-a4d22d608b02 |       2       |
| f24d70eb-d22c-4133-ba41-b55e3cb88c99 |       2       |
| ebeffada-1cee-47f6-bf68-38ae8263b41c |       2       |
+--------------------------------------+---------------+
Truncated to displaylimit of 10.

In [7]:
%%sql   
--Use a window function (ROW_NUMBER, RANK) to rank properties 
--based on the total number of bookings they have received.
SELECT 
    p.property_id,
    p.name,
    p.location,
    COUNT(b.booking_id) as booking_count,
    ROW_NUMBER () OVER (
        PARTITION BY p.property_id
        ORDER BY COUNT(b.booking_id) DESC
    ) as booking_rank
    
FROM property as p
JOIN booking as b 
ON b.property_id = P.property_id
GROUP BY p.property_id, p.name, P.location
ORDER BY  booking_rank

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

25 rows affected.

+--------------------------------------+--------------------+--------------------+---------------+--------------+
|             property_id              |        name        |      location      | booking_count | booking_rank |
+--------------------------------------+--------------------+--------------------+---------------+--------------+
| 16b825e2-b945-4b70-81c4-d8e5c704fd3b | Ocean Breeze Villa |    Diani, Kenya    |       1       |      1       |
| 25cceb90-cb6c-48b8-bf52-9e6f4d69b409 |    Beach Shack     |   Watamu, Kenya    |       1       |      1       |
| 454eb4e5-f1f8-4ca5-b0fc-a92e976446a7 |   Hilltop Cabin    |  Aberdare, Kenya   |       1       |      1       |
| 4ff350d5-8891-4f69-8abf-8dd07d369b43 |  Coastal Cottage   |    Lamu, Kenya     |       1       |      1       |
| 521408be-5a0f-438c-8dc8-f41d8227a4aa |  Garden Bungalow   |    Karen, Kenya    |       1       |      1       |
| 66362d42-0c53-4d0b-941f-a82c7d69b840 |    Desert Camp     |   Samburu, Kenya   |       1       |      1       |
| 66d8733b-f756-430c-80c3-589cc639614d |   Savanna Lodge    | Maasai Mara, Kenya |       1       |      1       |
| 68795792-54d9-446b-8fc0-de89bd37fde9 |   Lakeside Haven   |  Naivasha, Kenya   |       1       |      1       |
| 711a99d3-dd65-4c86-837c-cc89aa15d1cb |   Valley Cottage   | Rift Valley, Kenya |       1       |      1       |
| 7b7a4add-ae1c-4602-9db8-ee4b91ebeaff |   Lakeview House   |   Nakuru, Kenya    |       1       |      1       |
+--------------------------------------+--------------------+--------------------+---------------+--------------+
Truncated to displaylimit of 10.

In [8]:
%%sql
SELECT p.property_id,
       p.name,
       COUNT(b.booking_id) AS total_bookings,
       RANK() OVER (
           PARTITION BY p.property_id
           ORDER BY COUNT(b.booking_id) DESC
       ) AS booking_rank
FROM property AS p
JOIN booking AS b ON b.property_id = p.property_id
GROUP BY p.property_id
ORDER BY booking_rank;

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

25 rows affected.

+--------------------------------------+--------------------+----------------+--------------+
|             property_id              |        name        | total_bookings | booking_rank |
+--------------------------------------+--------------------+----------------+--------------+
| 16b825e2-b945-4b70-81c4-d8e5c704fd3b | Ocean Breeze Villa |       1        |      1       |
| 25cceb90-cb6c-48b8-bf52-9e6f4d69b409 |    Beach Shack     |       1        |      1       |
| 454eb4e5-f1f8-4ca5-b0fc-a92e976446a7 |   Hilltop Cabin    |       1        |      1       |
| 4ff350d5-8891-4f69-8abf-8dd07d369b43 |  Coastal Cottage   |       1        |      1       |
| 521408be-5a0f-438c-8dc8-f41d8227a4aa |  Garden Bungalow   |       1        |      1       |
| 66362d42-0c53-4d0b-941f-a82c7d69b840 |    Desert Camp     |       1        |      1       |
| 66d8733b-f756-430c-80c3-589cc639614d |   Savanna Lodge    |       1        |      1       |
| 68795792-54d9-446b-8fc0-de89bd37fde9 |   Lakeside Haven   |       1        |      1       |
| 711a99d3-dd65-4c86-837c-cc89aa15d1cb |   Valley Cottage   |       1        |      1       |
| 7b7a4add-ae1c-4602-9db8-ee4b91ebeaff |   Lakeview House   |       1        |      1       |
+--------------------------------------+--------------------+----------------+--------------+
Truncated to displaylimit of 10.

In [9]:
%%sql
-- database_index.sql

-- Index on user_id in user table
CREATE INDEX IF NOT EXISTS idx_user_user_id ON "user"(user_id);

-- Index on user_id in booking table
CREATE INDEX IF NOT EXISTS idx_booking_user_id ON booking(user_id);

-- Index on property_id in booking table
CREATE INDEX IF NOT EXISTS idx_booking_property_id ON booking(property_id);

-- Index on property_id in property table
CREATE INDEX IF NOT EXISTS idx_property_property_id ON property(property_id);

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

++
||
++
++

In [10]:
%%sql
EXPLAIN ANALYZE
SELECT u.user_id, COUNT(b.booking_id) AS total_bookings
FROM booking AS b
JOIN "user" AS u ON u.user_id = b.user_id
GROUP BY u.user_id
ORDER BY total_bookings DESC

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

14 rows affected.

+------------------------------------------------------------------------------------------------------------------------+
|                                                       QUERY PLAN                                                       |
+------------------------------------------------------------------------------------------------------------------------+
|                  Sort  (cost=3.84..3.91 rows=25 width=24) (actual time=0.155..0.160 rows=14 loops=1)                   |
|                                           Sort Key: (count(b.booking_id)) DESC                                         |
|                                           Sort Method: quicksort  Memory: 26kB                                         |
|             ->  HashAggregate  (cost=3.01..3.26 rows=25 width=24) (actual time=0.123..0.131 rows=14 loops=1)           |
|                                                      Group Key: u.user_id                                              |
|                                                 Batches: 1  Memory Usage: 24kB                                         |
|                  ->  Hash Join  (cost=1.56..2.89 rows=25 width=32) (actual time=0.075..0.100 rows=25 loops=1)          |
|                                                  Hash Cond: (b.user_id = u.user_id)                                    |
|               ->  Seq Scan on booking b  (cost=0.00..1.25 rows=25 width=32) (actual time=0.015..0.021 rows=25 loops=1) |
|                       ->  Hash  (cost=1.25..1.25 rows=25 width=16) (actual time=0.036..0.037 rows=25 loops=1)          |
+------------------------------------------------------------------------------------------------------------------------+
Truncated to displaylimit of 10.

In [17]:
%%sql
SELECT * from booking as b
JOIN "user" as u ON b.user_id = u.user_id
JOIN property as p on p.property_id = b.property_id
JOIN payment as py on py.booking_id = b.booking_id

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

25 rows affected.

+--------------------------------------+--------------------------------------+--------------------------------------+------------+------------+-------------+-----------+----------------------------+--------------------------------------+------------+-----------+------------------------------+---------------+---------------+-------+----------------------------+--------------------------------------+--------------------------------------+--------------------+----------------------------+--------------------+---------------+----------------------------+----------------------------+--------------------------------------+--------------------------------------+--------+---------------------+----------------+
|              booking_id              |             property_id              |               user_id                | start_date |  end_date  | total_price |   status  |         created_at         |              user_id_1               | first_name | last_name |            email             | password_hash |  phone_number |  role |        created_at_1        |            property_id_1             |               host_id                |        name        |        description         |      location      | pricepernight |        created_at_2        |         updated_at         |              payment_id              |             booking_id_1             | amount |     payment_date    | payment_method |
+--------------------------------------+--------------------------------------+--------------------------------------+------------+------------+-------------+-----------+----------------------------+--------------------------------------+------------+-----------+------------------------------+---------------+---------------+-------+----------------------------+--------------------------------------+--------------------------------------+--------------------+----------------------------+--------------------+---------------+----------------------------+----------------------------+--------------------------------------+--------------------------------------+--------+---------------------+----------------+
| d2826b84-92ba-435a-a724-b8b352d3d551 | 68795792-54d9-446b-8fc0-de89bd37fde9 | 6810b6b9-f7f1-4aa4-ae95-a4d22d608b02 | 2025-06-01 | 2025-06-03 |    200.00   | confirmed | 2025-05-09 07:53:24.222949 | 6810b6b9-f7f1-4aa4-ae95-a4d22d608b02 |   Akinyi   |   Otieno  |  akinyi.otieno@example.com   |    hash103    | +254711345678 | guest | 2025-05-09 07:53:23.908961 | 68795792-54d9-446b-8fc0-de89bd37fde9 | ee4f3448-5ae9-4834-a40b-f3924f419573 |   Lakeside Haven   |  Cozy retreat by the lake  |  Naivasha, Kenya   |     100.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 | 39d40792-52f6-4b48-8c58-93f5203ee93f | d2826b84-92ba-435a-a724-b8b352d3d551 | 200.00 | 2025-05-30 10:00:00 |  credit_card   |
| e4c198e5-67c1-4848-b57c-e38a0be166ef | fadc54df-aec8-4e02-a33b-967daa79ef7b | 6810b6b9-f7f1-4aa4-ae95-a4d22d608b02 | 2025-06-10 | 2025-06-12 |    240.00   |  pending  | 2025-05-09 07:53:24.222949 | 6810b6b9-f7f1-4aa4-ae95-a4d22d608b02 |   Akinyi   |   Otieno  |  akinyi.otieno@example.com   |    hash103    | +254711345678 | guest | 2025-05-09 07:53:23.908961 | fadc54df-aec8-4e02-a33b-967daa79ef7b | ee4f3448-5ae9-4834-a40b-f3924f419573 |    Nairobi Nest    |   Modern city apartment    |   Nairobi, Kenya   |     120.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 | fd041ea8-837c-4347-80a5-05a131ddc946 | e4c198e5-67c1-4848-b57c-e38a0be166ef | 120.00 | 2025-06-08 12:00:00 |     paypal     |
| 15639844-503f-4138-be48-8a1ef8fd9bcf | 16b825e2-b945-4b70-81c4-d8e5c704fd3b | ba5d742f-f681-4782-a51d-4157ade07802 | 2025-07-01 | 2025-07-05 |    800.00   | confirmed | 2025-05-09 07:53:24.222949 | ba5d742f-f681-4782-a51d-4157ade07802 | Kipchumba  |   Koech   | kipchumba.koech@example.com  |    hash104    | +254711456789 | guest | 2025-05-09 07:53:23.908961 | 16b825e2-b945-4b70-81c4-d8e5c704fd3b | a4da73b8-48f2-40bb-9e98-6ec707bf91fb | Ocean Breeze Villa | Luxurious beachfront villa |    Diani, Kenya    |     200.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 | 00dfa6d4-4ea6-4be6-9ca1-be7bfbe8d56e | 15639844-503f-4138-be48-8a1ef8fd9bcf | 800.00 | 2025-06-28 14:00:00 |     stripe     |
| 4992d43b-473b-41ca-89ba-7a43bf00da63 | 66d8733b-f756-430c-80c3-589cc639614d | ba5d742f-f681-4782-a51d-4157ade07802 | 2025-07-10 | 2025-07-12 |    500.00   |  canceled | 2025-05-09 07:53:24.222949 | ba5d742f-f681-4782-a51d-4157ade07802 | Kipchumba  |   Koech   | kipchumba.koech@example.com  |    hash104    | +254711456789 | guest | 2025-05-09 07:53:23.908961 | 66d8733b-f756-430c-80c3-589cc639614d | a4da73b8-48f2-40bb-9e98-6ec707bf91fb |   Savanna Lodge    |      Wilderness lodge      | Maasai Mara, Kenya |     250.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 | eaf99530-0106-4f37-8673-a673044831fc | 4992d43b-473b-41ca-89ba-7a43bf00da63 | 250.00 | 2025-07-08 09:00:00 |  credit_card   |
| c8b0442a-9726-4ed3-88aa-bcf17a4c6a99 | c73c0826-f659-40e5-b521-b95e0d6d7f68 | c81d63cf-488a-4515-b330-01b150d8b8b9 | 2025-08-01 | 2025-08-03 |    260.00   | confirmed | 2025-05-09 07:53:24.222949 | c81d63cf-488a-4515-b330-01b150d8b8b9 |  Ochieng   |  Odhiambo | ochieng.odhiambo@example.com |    hash106    | +254711678901 | guest | 2025-05-09 07:53:23.908961 | c73c0826-f659-40e5-b521-b95e0d6d7f68 | 919e4f2f-cf7d-4495-943e-20df5847fe37 |     Urban Loft     |     Stylish city loft      |   Mombasa, Kenya   |     130.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 | aeb2375d-9b4c-443e-902a-937b17344733 | c8b0442a-9726-4ed3-88aa-bcf17a4c6a99 | 260.00 | 2025-07-30 11:00:00 |     paypal     |
| 3fa84914-a030-4a1a-a1e9-2e94568e8a63 | 454eb4e5-f1f8-4ca5-b0fc-a92e976446a7 | c81d63cf-488a-4515-b330-01b150d8b8b9 | 2025-08-10 | 2025-08-12 |    220.00   |  pending  | 2025-05-09 07:53:24.222949 | c81d63cf-488a-4515-b330-01b150d8b8b9 |  Ochieng   |  Odhiambo | ochieng.odhiambo@example.com |    hash106    | +254711678901 | guest | 2025-05-09 07:53:23.908961 | 454eb4e5-f1f8-4ca5-b0fc-a92e976446a7 | 919e4f2f-cf7d-4495-943e-20df5847fe37 |   Hilltop Cabin    |   Rustic mountain cabin    |  Aberdare, Kenya   |     110.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 | 7ea1cdcd-eb23-4a24-9f53-5fae32bd45d1 | 3fa84914-a030-4a1a-a1e9-2e94568e8a63 | 110.00 | 2025-08-08 15:00:00 |     stripe     |
| af4c113f-23a3-4284-92e6-bdcfb9fea391 | 4ff350d5-8891-4f69-8abf-8dd07d369b43 | 7d213371-9496-4ab9-8604-3c3b98fec2bd | 2025-09-01 | 2025-09-04 |    270.00   | confirmed | 2025-05-09 07:53:24.222949 | 7d213371-9496-4ab9-8604-3c3b98fec2bd |  Wairimu   |  Kariuki  | wairimu.kariuki@example.com  |    hash107    | +254711789012 | guest | 2025-05-09 07:53:23.908961 | 4ff350d5-8891-4f69-8abf-8dd07d369b43 | ad82232f-2448-4b3f-973c-f97220864ecb |  Coastal Cottage   |  Charming seaside cottage  |    Lamu, Kenya     |     90.00     | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 | b2bb3ae5-e05e-4084-9c71-d9abfaffe2d0 | af4c113f-23a3-4284-92e6-bdcfb9fea391 | 270.00 | 2025-08-29 10:00:00 |  credit_card   |
| 1c33eda1-7d67-47c7-a352-577ddec0d030 | aa6ee276-df28-47d3-bdd5-ab4db81b0dfb | 7d213371-9496-4ab9-8604-3c3b98fec2bd | 2025-09-10 | 2025-09-12 |    160.00   |  canceled | 2025-05-09 07:53:24.222949 | 7d213371-9496-4ab9-8604-3c3b98fec2bd |  Wairimu   |  Kariuki  | wairimu.kariuki@example.com  |    hash107    | +254711789012 | guest | 2025-05-09 07:53:23.908961 | aa6ee276-df28-47d3-bdd5-ab4db81b0dfb | ad82232f-2448-4b3f-973c-f97220864ecb |    City Studio     |  Compact downtown studio   |   Kisumu, Kenya    |     80.00     | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 | 0e461505-bf89-4b59-80df-59e6306cbeec | 1c33eda1-7d67-47c7-a352-577ddec0d030 | 80.00  | 2025-09-08 12:00:00 |     paypal     |
| aed8ac60-00fa-442f-9338-b01d5f6f1795 | f5c031fc-dcd0-493b-b4a7-70c984cdbd77 | ebeffada-1cee-47f6-bf68-38ae8263b41c | 2025-10-01 | 2025-10-03 |    360.00   | confirmed | 2025-05-09 07:53:24.222949 | ebeffada-1cee-47f6-bf68-38ae8263b41c |  Adhiambo  |   Awuor   |  adhiambo.awuor@example.com  |    hash109    | +254711901234 | guest | 2025-05-09 07:53:23.908961 | f5c031fc-dcd0-493b-b4a7-70c984cdbd77 | 522f7349-d2c4-4ad4-8a56-d9462b2ab418 |   Safari Retreat   |     Luxury tented camp     |    Tsavo, Kenya    |     180.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 | c951bb5b-bd0f-4827-80e5-dcaf6a583a95 | aed8ac60-00fa-442f-9338-b01d5f6f1795 | 360.00 | 2025-09-28 14:00:00 |     stripe     |
| a9178d8c-d4bc-484e-b1c4-86a84a1fb8dc | 521408be-5a0f-438c-8dc8-f41d8227a4aa | ebeffada-1cee-47f6-bf68-38ae8263b41c | 2025-10-10 | 2025-10-12 |    280.00   |  pending  | 2025-05-09 07:53:24.222949 | ebeffada-1cee-47f6-bf68-38ae8263b41c |  Adhiambo  |   Awuor   |  adhiambo.awuor@example.com  |    hash109    | +254711901234 | guest | 2025-05-09 07:53:23.908961 | 521408be-5a0f-438c-8dc8-f41d8227a4aa | 522f7349-d2c4-4ad4-8a56-d9462b2ab418 |  Garden Bungalow   | Bungalow with lush gardens |    Karen, Kenya    |     140.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 | 834c962c-6a2c-43cc-84a0-1e11959152d9 | a9178d8c-d4bc-484e-b1c4-86a84a1fb8dc | 140.00 | 2025-10-08 09:00:00 |  credit_card   |
+--------------------------------------+--------------------------------------+--------------------------------------+------------+------------+-------------+-----------+----------------------------+--------------------------------------+------------+-----------+------------------------------+---------------+---------------+-------+----------------------------+--------------------------------------+--------------------------------------+--------------------+----------------------------+--------------------+---------------+----------------------------+----------------------------+--------------------------------------+--------------------------------------+--------+---------------------+----------------+
Truncated to displaylimit of 10.

In [19]:
%%sql
EXPLAIN ANALYZE
SELECT * from booking as b
JOIN "user" as u ON b.user_id = u.user_id
JOIN property as p on p.property_id = b.property_id
JOIN payment as py on py.booking_id = b.booking_id

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

18 rows affected.

+---------------------------------------------------------------------------------------------------------------------------------+
|                                                            QUERY PLAN                                                           |
+---------------------------------------------------------------------------------------------------------------------------------+
|                  Hash Join  (cost=15.00..33.55 rows=570 width=2192) (actual time=0.657..0.788 rows=25 loops=1)                  |
|                                             Hash Cond: (py.booking_id = b.booking_id)                                           |
|            ->  Seq Scan on payment py  (cost=0.00..15.70 rows=570 width=114) (actual time=0.024..0.038 rows=25 loops=1)         |
|                    ->  Hash  (cost=14.69..14.69 rows=25 width=2078) (actual time=0.583..0.589 rows=25 loops=1)                  |
|                                              Buckets: 1024  Batches: 1  Memory Usage: 16kB                                      |
|                     ->  Hash Join  (cost=3.12..14.69 rows=25 width=2078) (actual time=0.284..0.438 rows=25 loops=1)             |
|                                                       Hash Cond: (b.user_id = u.user_id)                                        |
|                         ->  Hash Join  (cost=1.56..13.05 rows=25 width=968) (actual time=0.148..0.242 rows=25 loops=1)          |
|                                                      Hash Cond: (p.property_id = b.property_id)                                 |
|                     ->  Seq Scan on property p  (cost=0.00..10.90 rows=90 width=830) (actual time=0.011..0.026 rows=25 loops=1) |
+---------------------------------------------------------------------------------------------------------------------------------+
Truncated to displaylimit of 10.