In [5]:
%load_ext sql

In [6]:
%sql postgresql://allan:Allan20252025@localhost:5432/airbnb

Connecting to 'postgresql://allan:***@localhost:5432/airbnb'

In [7]:
%%sql 
-- Write a query to 
--find all properties where the average rating is greater than 4.0 using a subquery

SELECT * 
    FROM property as pt
    WHERE pt.property_id IN (
      SELECT rv.property_id
      FROM review as rv
      GROUP BY rv.property_id
    HAVING AVG(rv.rating) > 4
    );

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

7 rows affected.

+--------------------------------------+--------------------------------------+--------------------+-----------------------------+----------------+---------------+----------------------------+----------------------------+
|             property_id              |               host_id                |        name        |         description         |    location    | pricepernight |         created_at         |         updated_at         |
+--------------------------------------+--------------------------------------+--------------------+-----------------------------+----------------+---------------+----------------------------+----------------------------+
| 16b825e2-b945-4b70-81c4-d8e5c704fd3b | a4da73b8-48f2-40bb-9e98-6ec707bf91fb | Ocean Breeze Villa |  Luxurious beachfront villa |  Diani, Kenya  |     200.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
| 4ff350d5-8891-4f69-8abf-8dd07d369b43 | ad82232f-2448-4b3f-973c-f97220864ecb |  Coastal Cottage   |   Charming seaside cottage  |  Lamu, Kenya   |     90.00     | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
| 521408be-5a0f-438c-8dc8-f41d8227a4aa | 522f7349-d2c4-4ad4-8a56-d9462b2ab418 |  Garden Bungalow   |  Bungalow with lush gardens |  Karen, Kenya  |     140.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
| c92d18ce-e9cd-41a8-bcba-4653f35f474c | a25863f4-649c-41f4-9e6f-92cac7e37974 | Skyline Penthouse  |    Luxury city penthouse    | Nairobi, Kenya |     220.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
| c976d0fd-4b3c-4632-b72a-a9c35b3c0acc | 51626501-4e62-40ea-8e94-496abf8e750b |  Clifftop Retreat  |    Scenic clifftop villa    | Malindi, Kenya |     170.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
| 66362d42-0c53-4d0b-941f-a82c7d69b840 | ee4f3448-5ae9-4834-a40b-f3924f419573 |    Desert Camp     | Authentic desert experience | Samburu, Kenya |     190.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
| e1852b70-7697-45af-97a2-af2866c1cb9d | ad82232f-2448-4b3f-973c-f97220864ecb |   Highland Lodge   |    Lodge in the highlands   | Kericho, Kenya |     145.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
+--------------------------------------+--------------------------------------+--------------------+-----------------------------+----------------+---------------+----------------------------+----------------------------+

In [8]:
%%sql 
-- Write a correlated subquery to find users who have made more than 3 bookings.
SELECT * FROM "user" as u  
WHERE ( 
    SELECT COUNT(*)
    FROM booking as b
    where b.user_id = u.user_id
    ) > 3;

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

+---------+------------+-----------+-------+---------------+--------------+------+------------+
| user_id | first_name | last_name | email | password_hash | phone_number | role | created_at |
+---------+------------+-----------+-------+---------------+--------------+------+------------+
+---------+------------+-----------+-------+---------------+--------------+------+------------+

In [ ]:
%%sql
-- Write a query to find the total number of bookings made by each user, 
--using the COUNT function and GROUP BY clause.

SELECT
    u.user_id,
    COUNT(b.booking_id) as total_booking
FROM booking as b
JOIN "user" as u ON u.user_id = b.user_id
GROUP BY u.user_id
ORDER BY total_booking DESC;

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

14 rows affected.

+--------------------------------------+---------------+
|               user_id                | total_booking |
+--------------------------------------+---------------+
| add2f1f3-7bb5-4ad9-97ce-979d75ced570 |       2       |
| 7d213371-9496-4ab9-8604-3c3b98fec2bd |       2       |
| 6810b6b9-f7f1-4aa4-ae95-a4d22d608b02 |       2       |
| c81d63cf-488a-4515-b330-01b150d8b8b9 |       2       |
| 2ea34b0a-21c8-4c65-b014-bf834f96335b |       2       |
| bfc2aefc-ee24-43b8-b06c-34e7376dd6f7 |       2       |
| 65224742-72ab-4649-9a03-4b4d9674d9ae |       2       |
| 790dd463-21e6-48ef-bb67-5b5057356527 |       2       |
| ba5d742f-f681-4782-a51d-4157ade07802 |       2       |
| f24d70eb-d22c-4133-ba41-b55e3cb88c99 |       2       |
+--------------------------------------+---------------+
Truncated to displaylimit of 10.

In [38]:
%%sql   
--Use a window function (ROW_NUMBER, RANK) to rank properties 
--based on the total number of bookings they have received.
SELECT 
    p.property_id,
    p.name,
    p.location,
    COUNT(b.booking_id) as booking_count,
    ROW_NUMBER () OVER (
        PARTITION BY p.property_id
        ORDER BY COUNT(b.booking_id) DESC
    ) as booking_rank
    
FROM property as p
JOIN booking as b 
ON b.property_id = P.property_id
GROUP BY p.property_id, p.name, P.location
ORDER BY  booking_rank

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

25 rows affected.

+--------------------------------------+--------------------+--------------------+---------------+--------------+
|             property_id              |        name        |      location      | booking_count | booking_rank |
+--------------------------------------+--------------------+--------------------+---------------+--------------+
| 16b825e2-b945-4b70-81c4-d8e5c704fd3b | Ocean Breeze Villa |    Diani, Kenya    |       1       |      1       |
| 25cceb90-cb6c-48b8-bf52-9e6f4d69b409 |    Beach Shack     |   Watamu, Kenya    |       1       |      1       |
| 454eb4e5-f1f8-4ca5-b0fc-a92e976446a7 |   Hilltop Cabin    |  Aberdare, Kenya   |       1       |      1       |
| 4ff350d5-8891-4f69-8abf-8dd07d369b43 |  Coastal Cottage   |    Lamu, Kenya     |       1       |      1       |
| 521408be-5a0f-438c-8dc8-f41d8227a4aa |  Garden Bungalow   |    Karen, Kenya    |       1       |      1       |
| 66362d42-0c53-4d0b-941f-a82c7d69b840 |    Desert Camp     |   Samburu, Kenya   |       1       |      1       |
| 66d8733b-f756-430c-80c3-589cc639614d |   Savanna Lodge    | Maasai Mara, Kenya |       1       |      1       |
| 68795792-54d9-446b-8fc0-de89bd37fde9 |   Lakeside Haven   |  Naivasha, Kenya   |       1       |      1       |
| 711a99d3-dd65-4c86-837c-cc89aa15d1cb |   Valley Cottage   | Rift Valley, Kenya |       1       |      1       |
| 7b7a4add-ae1c-4602-9db8-ee4b91ebeaff |   Lakeview House   |   Nakuru, Kenya    |       1       |      1       |
+--------------------------------------+--------------------+--------------------+---------------+--------------+
Truncated to displaylimit of 10.

In [36]:
%%sql
SELECT p.property_id,
       p.name,
       COUNT(b.booking_id) AS total_bookings,
       RANK() OVER (
           PARTITION BY p.property_id
           ORDER BY COUNT(b.booking_id) DESC
       ) AS booking_rank
FROM property AS p
JOIN booking AS b ON b.property_id = p.property_id
GROUP BY p.property_id
ORDER BY booking_rank;

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

25 rows affected.

+--------------------------------------+--------------------+----------------+--------------+
|             property_id              |        name        | total_bookings | booking_rank |
+--------------------------------------+--------------------+----------------+--------------+
| 16b825e2-b945-4b70-81c4-d8e5c704fd3b | Ocean Breeze Villa |       1        |      1       |
| 25cceb90-cb6c-48b8-bf52-9e6f4d69b409 |    Beach Shack     |       1        |      1       |
| 454eb4e5-f1f8-4ca5-b0fc-a92e976446a7 |   Hilltop Cabin    |       1        |      1       |
| 4ff350d5-8891-4f69-8abf-8dd07d369b43 |  Coastal Cottage   |       1        |      1       |
| 521408be-5a0f-438c-8dc8-f41d8227a4aa |  Garden Bungalow   |       1        |      1       |
| 66362d42-0c53-4d0b-941f-a82c7d69b840 |    Desert Camp     |       1        |      1       |
| 66d8733b-f756-430c-80c3-589cc639614d |   Savanna Lodge    |       1        |      1       |
| 68795792-54d9-446b-8fc0-de89bd37fde9 |   Lakeside Haven   |       1        |      1       |
| 711a99d3-dd65-4c86-837c-cc89aa15d1cb |   Valley Cottage   |       1        |      1       |
| 7b7a4add-ae1c-4602-9db8-ee4b91ebeaff |   Lakeview House   |       1        |      1       |
+--------------------------------------+--------------------+----------------+--------------+
Truncated to displaylimit of 10.

In [43]:
%%sql
-- database_index.sql

-- Index on user_id in user table
CREATE INDEX IF NOT EXISTS idx_user_user_id ON "user"(user_id);

-- Index on user_id in booking table
CREATE INDEX IF NOT EXISTS idx_booking_user_id ON booking(user_id);

-- Index on property_id in booking table
CREATE INDEX IF NOT EXISTS idx_booking_property_id ON booking(property_id);

-- Index on property_id in property table
CREATE INDEX IF NOT EXISTS idx_property_property_id ON property(property_id);

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

++
||
++
++

In [45]:
%%sql
EXPLAIN ANALYZE
SELECT u.user_id, COUNT(b.booking_id) AS total_bookings
FROM booking AS b
JOIN "user" AS u ON u.user_id = b.user_id
GROUP BY u.user_id
ORDER BY total_bookings DESC

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

14 rows affected.

+------------------------------------------------------------------------------------------------------------------------+
|                                                       QUERY PLAN                                                       |
+------------------------------------------------------------------------------------------------------------------------+
|                  Sort  (cost=3.84..3.91 rows=25 width=24) (actual time=0.254..0.262 rows=14 loops=1)                   |
|                                           Sort Key: (count(b.booking_id)) DESC                                         |
|                                           Sort Method: quicksort  Memory: 26kB                                         |
|             ->  HashAggregate  (cost=3.01..3.26 rows=25 width=24) (actual time=0.214..0.229 rows=14 loops=1)           |
|                                                      Group Key: u.user_id                                              |
|                                                 Batches: 1  Memory Usage: 24kB                                         |
|                  ->  Hash Join  (cost=1.56..2.89 rows=25 width=32) (actual time=0.108..0.165 rows=25 loops=1)          |
|                                                  Hash Cond: (b.user_id = u.user_id)                                    |
|               ->  Seq Scan on booking b  (cost=0.00..1.25 rows=25 width=32) (actual time=0.026..0.041 rows=25 loops=1) |
|                       ->  Hash  (cost=1.25..1.25 rows=25 width=16) (actual time=0.060..0.061 rows=25 loops=1)          |
+------------------------------------------------------------------------------------------------------------------------+
Truncated to displaylimit of 10.