In [1]:
%load_ext sql

In [2]:
%sql postgresql://allan:Allan20252025@localhost:5432/airbnb

Connecting to 'postgresql://allan:***@localhost:5432/airbnb'

In [9]:
%%sql 
-- Write a query to 
--find all properties where the average rating is greater than 4.0 using a subquery

SELECT * 
    FROM property as pt
    WHERE pt.property_id IN (
      SELECT rv.property_id
      FROM review as rv
      GROUP BY rv.property_id
    HAVING AVG(rv.rating) > 4
    );

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

7 rows affected.

+--------------------------------------+--------------------------------------+--------------------+-----------------------------+----------------+---------------+----------------------------+----------------------------+
|             property_id              |               host_id                |        name        |         description         |    location    | pricepernight |         created_at         |         updated_at         |
+--------------------------------------+--------------------------------------+--------------------+-----------------------------+----------------+---------------+----------------------------+----------------------------+
| 16b825e2-b945-4b70-81c4-d8e5c704fd3b | a4da73b8-48f2-40bb-9e98-6ec707bf91fb | Ocean Breeze Villa |  Luxurious beachfront villa |  Diani, Kenya  |     200.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
| 4ff350d5-8891-4f69-8abf-8dd07d369b43 | ad82232f-2448-4b3f-973c-f97220864ecb |  Coastal Cottage   |   Charming seaside cottage  |  Lamu, Kenya   |     90.00     | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
| 521408be-5a0f-438c-8dc8-f41d8227a4aa | 522f7349-d2c4-4ad4-8a56-d9462b2ab418 |  Garden Bungalow   |  Bungalow with lush gardens |  Karen, Kenya  |     140.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
| c92d18ce-e9cd-41a8-bcba-4653f35f474c | a25863f4-649c-41f4-9e6f-92cac7e37974 | Skyline Penthouse  |    Luxury city penthouse    | Nairobi, Kenya |     220.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
| c976d0fd-4b3c-4632-b72a-a9c35b3c0acc | 51626501-4e62-40ea-8e94-496abf8e750b |  Clifftop Retreat  |    Scenic clifftop villa    | Malindi, Kenya |     170.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
| 66362d42-0c53-4d0b-941f-a82c7d69b840 | ee4f3448-5ae9-4834-a40b-f3924f419573 |    Desert Camp     | Authentic desert experience | Samburu, Kenya |     190.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
| e1852b70-7697-45af-97a2-af2866c1cb9d | ad82232f-2448-4b3f-973c-f97220864ecb |   Highland Lodge   |    Lodge in the highlands   | Kericho, Kenya |     145.00    | 2025-05-09 07:53:24.040802 | 2025-05-09 07:53:24.040802 |
+--------------------------------------+--------------------------------------+--------------------+-----------------------------+----------------+---------------+----------------------------+----------------------------+

In [10]:
%%sql 
-- Write a correlated subquery to find users who have made more than 3 bookings.
SELECT * FROM "user" as u  
WHERE ( 
    SELECT COUNT(*)
    FROM booking as b
    where b.user_id = u.user_id
    ) > 3;

Running query in 'postgresql://allan:***@localhost:5432/airbnb'

+---------+------------+-----------+-------+---------------+--------------+------+------------+
| user_id | first_name | last_name | email | password_hash | phone_number | role | created_at |
+---------+------------+-----------+-------+---------------+--------------+------+------------+
+---------+------------+-----------+-------+---------------+--------------+------+------------+